#C++
*.out
*.o

cmake-build-debug/
CMakeFiles/

#package file
*.war
*.ear
*.zip
*.tar.gz
*.tat.xz
*.rar

#Intellij idea
.idea/
idea/
test/
log
data
*/run*/
*.ipr
*.iml
*.iws

# system ignore
.DS_Store
Thumbs.db
